// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//iteration100
$primary   : #ffdada;
$secondary : #dbf6e9;
$accent    : #9ddfd3;
$dark      : #31326f;

//iteration101
$primary   : #e8e8e8;
$secondary : #f05454;
$accent    : #30475e;
$dark      : #222831;




//black and lightish blue
// $primary   : rgb(157, 157, 223);
// $secondary : #50658d;
// $accent    : #45444e;

// $dark      : #000000;


$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

